@model DetailModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>Enter your details here...</h1>

 @using (Html.BeginForm("Form ", "Home", FormMethod.Post,new {id="formRegistration"}))
    {
        <div>
          
           <div class="col-md-9">
         Name :@Html.TextBoxFor(x => x.Name, "", new { @class = "form-control text-danger", placeholder = "Enter your Name" })
          @Html.ValidationMessageFor(x => x.Age)
     
       </div>
        </div>

         <div>
             <div class="col-md-9">
            Age : @Html.TextBoxFor(x=>x.Age, new { @class = "form-control text-danger", placeholder = "Enter your age" })
            @Html.ValidationMessageFor(x => x.Age)
        </div>
        </div>

         <div>
            <div class="col-md-9">
            Salary : @Html.TextBoxFor(x=>x.Salary, new { @class = "form-control text-danger", placeholder = "Enter your salary" })
            @Html.ValidationMessageFor(x => x.Salary)
        </div>
        </div>

         <div>
            <div class="col-md-9">
            Designation : @Html.TextBoxFor(x=>x.Designation, new { @class = "form-control text-danger", placeholder = "Enter your designation here" })
            @Html.ValidationMessageFor(x => x.Designation)
        </div>
        </div>

        <div class="m-3"><button id="btn-signup" type="submit"  class="btn btn-info">Save</button></div>
    }
